*.exe
*.dll
*.zip
*.BAK*
*.OLD*
*.ORIG*
*.sdf
*.suo
*.db
*.vcxproj.user
*.opensdf
*.save
*.depend
*.layout
nanovg/
nanosvg/
download/
lib/
android/libs/
android/obj/
obj/
com.rado1.*/
*downloads/
Release/
Debug/
ipch/