*.exe
*.dll
*.zip
*.BAK*
*.OLD*
*.ORIG*
*.sdf
*.suo
*.db
*.vcxproj.user
*.opensdf
*.save
*.depend
*.layout
nanovg/*
!nanovg/src/
nanovg/src/*
!nanovg/src/nanovg.h
!nanovg/src/nanovg.c
nanosvg/
nanogui/
tinf/
download/
lib/
android/libs/
android/obj/
obj/
com.rado1.*/
*downloads/
*.vs/
Release/
Debug/
ipch/